*.jl.*.cov
*.jl.cov
*.jl.mem
/Manifest.toml
scripts/debugging_integrand.ipynb
scripts/verifying_new_potential_integral_computation_method/double_bubble.ipynb
scripts/general/_summing_technique.ipynb
scripts/benchmarks/comparison_to_Maya/TzzList.txt
scripts/benchmarks/comparison_to_Maya/TzxList.txt
scripts/benchmarks/comparison_to_Maya/TyyList.txt
scripts/benchmarks/comparison_to_Maya/TxxList.txt
scripts/benchmarks/comparison_to_Maya/JList.txt
scripts/benchmarks/comparison_to_Maya/Salvatore_Txx_and_Tyy.png
notes/stress_energy_tensor_computation.aux
notes/stress_energy_tensor_computation.bbl
notes/stress_energy_tensor_computation.fdb_latexmk
notes/stress_energy_tensor_computation.fls
notes/stress_energy_tensor_computation.log
notes/stress_energy_tensor_computation.pdf
notes/stress_energy_tensor_computation.synctex.gz
color_animation.mp4
PT_animation.mp4
notebooks/single_bubble.ipynb
notebooks/analytic_computations/analytic_integral_for_double_bubble.ipynb
notebooks/analytic_computations/Analytic_integrals_for_single_bubble_benchmark.ipynb
notebooks/analytic_computations/Untitled.ipynb
notebooks/analytic_computations/.ipynb_checkpoints/analytic_integral_for_double_bubble-checkpoint.ipynb
notebooks/analytic_computations/.ipynb_checkpoints/Analytic_integrals_for_single_bubble_benchmark-checkpoint.ipynb
notebooks/analytic_computations/.ipynb_checkpoints/Untitled-checkpoint.ipynb
scripts/studying_eta_dependence/JList.txt
scripts/studying_eta_dependence/TxxList.txt
scripts/studying_eta_dependence/TyyList.txt
scripts/studying_eta_dependence/TzzList.txt
scripts/studying_eta_dependence/unified_surface_integration_comparison.png
scripts/studying_eta_dependence/unified_volume_integral_comparison.png
scripts/verifying_new_potential_integral_computation_method/verify_new_potential_integration_method.ipynb
scripts/studying_eta_dependence/double_bubble_surface_integral.ipynb
scripts/studying_eta_dependence/double_bubble_volume_integral.ipynb
scripts/RandomAnimation.jl
scripts/BubblesAnimation copy.jl
scripts/quadrature_integration_over_section/quadrature_integration_over_section.jl
scripts/quadrature_integration_over_section/quadrature_integration_over_section_for_potential.jl
scripts/benchmarks/comparison_to_Maya/graph.jld2
scripts/benchmarks/comparison_to_Maya/double_bubble copy.ipynb
scripts/benchmarks/comparison_to_Maya/double_bubble.ipynb
scripts/benchmarks/comparison_to_Maya/data.json
scripts/benchmarks/comparison_to_Maya/analysis.ipynb
scripts/benchmarks/double_bubble_benchmark_data.json
.gitignore
scripts/benchmarks/comparison_to_Maya/double_bubble.ipynb
notebooks/evolution_ensemble.jld2
.vscode/settings.json
.gitignore
scripts/benchmarks/comparison_to_Maya/unified_Tij_comparison.png
scripts/benchmarks/comparison_to_Maya/varying_eta_constant_k_data.json
scripts/benchmarks/comparison_to_Maya/varying_eta_constant_k.png
scripts/gravitational_potentials/gravitational_potential.png
scripts/gravitational_potentials/double_bubble.ipynb
.gitignore
scripts/studying_performance/gravitational_potential_profiling.jl
scripts/studying_performance/profiling.jl
scripts/gravitational_potentials/gravitational_potential_fixed_k_varying_eta.json
.gitignore
scripts/studying_performance/profiling copy.jl
scripts/studying_performance/profiling potential_integral.jl
scripts/studying_performance/profiling surface_integral.jl
scripts/studying_performance/profiling_gravitational_potential.jl
scripts/gravitational_potentials/gravitational_potential_varying_k_varying_eta.json
scripts/gravitational_potentials/double_bubble_fixed_eta.ipynb
scripts/gravitational_potentials/double_bubble_fixed_k.ipynb
scripts/gravitational_potentials/double_bubble_fixed_eta.ipynb
scripts/gravitational_potentials/double_bubble_fixed_eta.ipynb
scripts/gravitational_potentials/double_bubble_fixed_k.ipynb
scripts/gravitational_potentials/attempting_quadratures/double_bubble_fixed_eta.ipynb
scripts/gravitational_potentials/source_behaviour/double_bubble_fixed_eta.ipynb
scripts/gravitational_potentials/source_behaviour/double_bubble_fixed_k.ipynb
scripts/gravitational_potentials/source_behaviour/gravitational_potential_source.png
scripts/gravitational_potentials/source_behaviour/gravitational_potential.png
scripts/general/debugging_FFT/debugging_FFT.jl
scripts/general/double_bubble.ipynb
scripts/general/single_bubble.ipynb
scripts/general/double_bubble.ipynb
scripts/general/single_bubble.ipynb
scripts/studying_performance/profiling_Tij.jl
scripts/benchmarks/comparison_to_Maya/gravitational_potential/varying_eta_fixed_k.npy
scripts/benchmarks/comparison_to_Maya/gravitational_potential/psi_comparison_varying_eta_constant_k.png
scripts/benchmarks/comparison_to_Maya/gravitational_potential/Txx_comparison_varying_eta_constant_k.png
scripts/benchmarks/comparison_to_Maya/gravitational_potential/Tyy_comparison_varying_eta_constant_k.png
scripts/benchmarks/comparison_to_Maya/gravitational_potential/Tzz_comparison_varying_eta_constant_k.png
scripts/benchmarks/comparison_to_Maya/gravitational_potential/numeric_varying_eta_constant_k_data.csv
scripts/benchmarks/comparison_to_Maya/gravitational_potential/ForBenSet4.npy
scripts/benchmarks/comparison_to_Maya/gravitational_potential/ForBenSet5.npy
scripts/gravitational_potentials/attempting_quadratures/double_bubble_fixed_eta.jl
scripts/general/debugging_new_integration/profiling potential_integral.jl
scripts/general/debugging_new_integration/profiling surface_integral.jl
scripts/benchmarks/comparison_to_Maya/gravitational_potential/gravitational_potential_source_varying_eta_constant_k.png
scripts/studying_performance/profiling_ISW.jl
plot_29.svg
scripts/benchmarks/comparison_to_Maya/gravitational_potential/ForBenSet1_6oct (1).npy
scripts/benchmarks/comparison_to_Maya/gravitational_potential/ForBenSet1_new_6oct.npy
scripts/benchmarks/comparison_to_Maya/gravitational_potential/phi_comparison_varying_eta_constant_k.png
scripts/benchmarks/comparison_to_Maya/gravitational_potential/Txz_comparison_varying_eta_constant_k.png
scripts/benchmarks/comparison_to_Maya/gravitational_potential/varying_eta_fixed_k_data_Maya.csv
scripts/geometric_integration_sandbox/geometric_integration_sandbox.jl
